{% extends "base.html" %}
{% load static %}

{% block page_content %}
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">{{ project.title }}</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link " href="{% url 'index' %}">Home</a>
      <a class="nav-link active"  href="{% url 'projects:project_index' %}">Projects</a>
      <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
    </nav>
  </div>
</header>

<main role="main" class="cover">
    <div class="row">
    <div class="col-md-6">
        <div class="card bg-light mb-3">
            <img src="{% static project.image %}" alt="" width="100%">
        </div>
    </div>
    <div class="col-md-4">
        <h5 style="text-align:left">About the project:</h5>
        <p style="text-align:left"> {{ project.description }} </p>
        <br>
        <h5 style="text-align:left">Technology used:</h5>
        <p style="text-align:left"> {{ project.technology }} </p>
    </div>
    </div>
</main>

{% endblock %}