{% extends "base.html" %}
{% load static %}
{% block page_content %}

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Murphy Yip</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link " href="{% url 'index' %}">Home</a>
            <a class="nav-link active"  href="{% url 'projects:project_index' %}">Projects</a>
            <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="cover">
        <div class="row ">
            {% for project in projects %}
                <div class="col-md d-flex align-items-stretch">
                    <div class="card bg-light mb-3">
                        <img class="card-img-top" src="{% static project.image %}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="cover-head mt-auto">{{ project.title }}</h5>
                            <p class="card-text mt-auto">{{ project.description }}</p>
                            <a href="{% url 'projects:project_detail' project.pk %}"
                               class="btn btn-primary mt-auto">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>



</body>

{% endblock %}